<h3 class="ui header">{{t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЗаписи
      class=(if (v-get validationModel "номерЗаписи" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.номерЗаписи-caption")
      data-test-i-i-s-prilozhenie-1-запись-клиентов-e-номерЗаписи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЗаписи" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.клиенты-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиенты
      displayAttributeName="фИОКлиента"
      autocomplete=true
      relationName="клиенты"
      projection="КлиентыL"
      title=(t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.клиенты-caption")
      readonly=readonly
      componentName="клиентыLookup"
      class=(if (v-get validationModel "клиенты" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-1-запись-клиентов-e-клиенты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиенты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.услуги-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.услуги
      displayAttributeName="наименование"
      autocomplete=true
      relationName="услуги"
      projection="УслугиL"
      title=(t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.услуги-caption")
      readonly=readonly
      componentName="услугиLookup"
      class=(if (v-get validationModel "услуги" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-1-запись-клиентов-e-услуги=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "услуги" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.услуги.стоимость
      class=(if (v-get validationModel.услуги "стоимость" "isInvalid") "error")
      label=(t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.услуги.стоимость-caption")
      data-test-i-i-s-prilozhenie-1-запись-клиентов-e-услуги-стоимость=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.услуги "стоимость" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-prilozhenie-1-запись-клиентов-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-prilozhenie-1-запись-клиентов-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
</form>
